body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#root {
    width: 100%;
}

nav {
    width: 100%;
    background: #1e1e1e;
    padding: 1rem 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    color: #00bcd4; /* Cyan accent color */
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #80deea; /* Lighter cyan */
}

header {
    padding: 4rem 2rem;
    background: #1e1e1e;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #00bcd4;
}

p {
    font-size: 1.2rem;
    color: #b0bec5;
}

main {
    padding: 2rem;
    max-width: 800px;
}

footer {
    margin-top: 2rem;
    padding: 1rem;
    background: #1e1e1e;
    color: #b0bec5;
    text-align: center;
}
.main-page-photo {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
